<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966805984725-ulb7ce5hgu90mhghkbc150pg2sf21j26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966805984725-ulb7ce5hgu90mhghkbc150pg2sf21j26</string>
	<key>API_KEY</key>
	<string>AIzaSyDGvmhYsWJVXVnlKVyJbLr8O1WH7a2shAY</string>
	<key>GCM_SENDER_ID</key>
	<string>966805984725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kavinMart</string>
	<key>PROJECT_ID</key>
	<string>kavin-market-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kavin-market-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966805984725:ios:b9925190387d28945d195c</string>
</dict>
</plist>